services:
  mysql-student:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Abc@1221
      MYSQL_DATABASE: student_db
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  mysql-teacher:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Abc@1221
      MYSQL_DATABASE: teacher_db
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  student-service:
    build:
      context: ./student-service
      target: development
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: test
      DB_HOST: mysql-student
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: Abc@1221
      DB_NAME: student_db
    depends_on:
      mysql-student:
        condition: service_healthy

  teacher-service:
    build:
      context: ./teacher-service
      target: development
    ports:
      - "3002:3002"
    environment:
      NODE_ENV: test
      DB_HOST: mysql-teacher
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: Abc@1221
      DB_NAME: teacher_db
    depends_on:
      mysql-teacher:
        condition: service_healthy

  api-gateway:
    build:
      context: ./api-gateway
      target: development
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: test
      STUDENT_SERVICE_URL: http://student-service:3001
      TEACHER_SERVICE_URL: http://teacher-service:3002
    depends_on:
      - student-service
      - teacher-service